{% extends 'base.html' %}

{% block content %} 
    <h2  class="page-title">Uploaded Profiles</h2>

    <div class="container">
    <table class="profile-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Candidate Name</th>
                <th>Candidate Phone</th>
                <th>Candidate Email</th>
                <th>Reviewed</th>
                <th>Contacted</th>
                <th>Interview Scheduled</th>
                {% comment %}<th>LinkedIn </th>
                 <th>Profile</th> {% endcomment %}
                 <th>Team Fitment</th>
                <th>Fitment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{% if  profile.profile_url%}
                <a href="{{ profile.profile_url }}" target="_blank">{{ profile.name }}</a>
                {% else %}
                {{ profile.name }}
                {% endif%}
                </td>
                <td>{{ profile.phone }}</td>
                <td>{{ profile.email }}</td>
                
                <td>
                    {% if profile.profile_reviewed %}
                        <span class="text-success">✔ </span>
                    {% else %}
                        <span class="text-danger">✘ </span>
                    {% endif %}
                </td>
                <td>
                    {% if profile.profile_contacted %}
                    <span class="text-success">✔ </span>
                    {% else %}
                        <span class="text-danger">✘ </span>
                    {% endif %}
                </td>
                <td>
                    {% if profile.profile_interview_scheduled  %}
                    <span class="text-success">✔ </span>
                    {% else %}
                        <span class="text-danger">✘ </span>                  
                    {% endif %}
                </td>
                <td>{{ profile.get_profile_for_team_display }}</td>
                {% comment %}<td><a href="{{ profile.profile_url }}">Link</td>
                 <td><a href="{{ profile.file.url }}" target="_blank">View Document</a></td> {% endcomment %}
                <td>
                    <span class="fitment-badge {{ profile.get_fitment_analysis_display|lower }}">{{ profile.get_fitment_analysis_display }}</span>
                </td>
                <td>
                    <a href="{% url 'view_profile' profile.id %}" class="btn view">View</a>
                    <a href="{% url 'review_profile' profile.id %}" class="btn edit">Edit</a>
                    <a href="{% url 'interview_feedback' profile.id %}" class="btn rate">Rate</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No profiles uploaded yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
